page-home {
    padding: 0px;
    margin: 0px;
        
    .wrap{
        text-align: center;
        align-items: center;
        background-color: whitesmoke;
        background-size: cover;
        width: 100%;
    }

    .above{
        height: 80%;
        background: linear-gradient( to bottom left, #488aff 10%,  #ADFEFF 90%);
        color: white;
        border-radius: 0 0 50% 50%/80px;
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;

        img{
            margin-top:30%; 
            height: 35%;
            width: 40%;
            opacity: 0.2;
        }   
    }

    .below{
        background-color: whitesmoke;
        padding: 15%; 
    }

    .btn{ 
        color: grey;
        background: whitesmoke;
        font-size: 35px;
    }
}
