page-experience {
    
    .wrap{
        text-align: center;
        background-color: whitesmoke;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .above{
        height: 80%;
        background: linear-gradient( to bottom left, #F976AD 10%,#C3A3EF 90%);
        color: white;
        border-radius:  0 0 50% 50%/80px;
        // width: 375px;
        margin-top: -18px;
        margin-right: -18px;
        margin-left: -18px;

        img{
            margin-top:30%; 
            height: 35%;
            width: 40%;
            opacity: 0.4;
        }
        
    }

    .below{
        background-color: whitesmoke;
        border-top: -10%;  
        padding: 20%;
    }

    .exp{ 
        color: grey;
        background: whitesmoke;
        font-size: 18px;
    }

}
